:root {
    // Colors
    --bodyBlack: #070707;
    --yellow: #FFC700;
    --cardGrey : #101010;
    --footerGrey: #191919;
    --inputBackground: #111;
    --paragraphGrey: #949494;
    --h4Black: #252525;
}