* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn {
    width: 200px;
    height: 60px;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    // &:hover {

    // }
}
.yellow {
    background-color: var(--yellow);
    color: black;
}
.styled {
    background-color: transparent;
    border: 2px solid var(--yellow);
    color: var(--yellow);
    font-weight: 700;
    font-size: 17px;
}